/*css-reset*/
/*#region*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*#endregion*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #34558b;
}
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(21, 1fr);
  gap: 0px 0px;
  font-family: Montserrat, sans-serif;
}

.namecard,
.contact,
.personnel {
  background: #34558b;
  color: #fafafa;
}
.namecard {
  grid-area: 1 / 1 / 8 / 2;
  text-align: center;
  padding-top: 3rem;
}
.namefield {
  padding-top: 1rem;
}
.name {
  font-weight: 600;
  font-size: 3rem;
}
.familyname {
  font-size: 1.5rem;
}

.title {
  background: #fafafa;
  color: #34558b;
  width: 85%;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 3% 0;
  text-align: center;
  margin: 0 0 0 auto;
}

table {
  margin-top: 1rem;
  margin-left: 15%;
}
td {
  padding: 4% 0 4% 0;
  text-align: left;
}
.table-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.contact {
  grid-area: 8 / 1 / 14 / 2;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fafafa;
}

.right {
  text-align: right;
}

.personnel {
  grid-area: 14 / 1 / 22 / 2;
}

.table-mini {
  width: 70%;
}
.table-mini td {
  padding: 0 0 3% 0;
}
.table-main {
  margin: 0;
  margin: 1rem 0 1rem 3rem;
  width: 80%;
}
.table-main p,
.date {
  font-weight: 600;
}

.table-main td:first {
  width: 400px;
}

.table-main td {
  padding: 0.5rem;
}

.title-rev {
  background: #34558b;
  color: #fafafa;
  width: 85%;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1%;
  margin: 0 auto 0 0;
}

.experience {
  grid-area: 2 / 2 / 10 / 3;
  background: #fafafa;
}

.edu {
  grid-area: 10 / 2 / 16 / 3;
  background: #fafafa;
}

.autre {
  grid-area: 16 / 2 / 22 / 3;
  background: #fafafa;
}

.head {
  grid-area: 1 / 2 / 2 / 3;
  background: #fafafa;
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;

  max-width: 85%;
  margin: 2rem 0;
}

.leftblock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px 0px;
  grid-template-areas:
    'lefta1 leftb1'
    'lefta2 leftb2'
    'lefta3 leftb3'
    'lefta4 leftb4'
    'lefta5 leftb5'
    'lefta6 leftb6';
  grid-area: leftblock;
}

.lefta1 {
  grid-area: lefta1;
}

.lefta2 {
  grid-area: lefta2;
}

.lefta3 {
  grid-area: lefta3;
}

.lefta4 {
  grid-area: lefta4;
}

.lefta5 {
  grid-area: lefta5;
}

.lefta6 {
  grid-area: lefta6;
}

.leftb1 {
  grid-area: leftb1;
}

.leftb2 {
  grid-area: leftb2;
}

.leftb3 {
  grid-area: leftb3;
}

.leftb4 {
  grid-area: leftb4;
}

.leftb5 {
  grid-area: leftb5;
}

.leftb6 {
  grid-area: leftb6;
}

.rightblock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px 0px;
  grid-template-areas:
    'righta1 rightb1'
    'righta2 rightb2'
    'righta3 rightb3'
    'righta4 rightb4'
    'righta5 rightb5'
    'righta6 rightb6';
  grid-area: rightblock;
}

.righta1 {
  grid-area: righta1;
}

.righta2 {
  grid-area: righta2;
}

.righta3 {
  grid-area: righta3;
}

.righta4 {
  grid-area: righta4;
}

.righta5 {
  grid-area: righta5;
}

.righta6 {
  grid-area: righta6;
}

.rightb1 {
  grid-area: rightb1;
}

.rightb2 {
  grid-area: rightb2;
}

.rightb3 {
  grid-area: rightb3;
}

.rightb4 {
  grid-area: rightb4;
}

.rightb5 {
  grid-area: rightb5;
}

.rightb6 {
  grid-area: rightb6;
}

.rect-wrp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.rect-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.rect {
  width: 10px;
  height: 10px;
  border: 2px solid #34558b;
}

.rectA {
  width: 10px;
  height: 10px;
  border: 2px solid #34558b;
  background-color: #34558b;
}
